<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Gökçwnify</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <style>
        a {
            text-decoration: none !important;
        }
        .card-img-top{
            width: 225px;
            height: 225px;
            margin-left: 25%;
        }
        .horizontal-divider{
            width: 1%;
        }
        .sidebar {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            padding: 58px 0 0; /* Height of navbar */
            box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
            width: 6%;
            z-index: 600;
        }
    </style>

  </head>

  <body style="background-color: #eee">

    <header>
      <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-dark">
        <div class="position-sticky">
            <div class="mx-3 mt-4 bg-dark text-center">
                <span class="mt-1 mb-5 pb-1" style="font-size: 15px; color: red;"> Categories </span>
                <a href="{{ url_for('index', categoryID = 0) }}" class="text-light" style="font-size: 12px; font-weight: bold;"> Clothings </a>
                <a href="{{ url_for('index', categoryID = 1) }}" class="text-light" style="font-size: 12px; font-weight: bold;"> Computer Components </a>
                <a href="{{ url_for('index', categoryID = 2) }}" class="text-light" style="font-size: 12px; font-weight: bold;"> Monitors </a>
                <a href="{{ url_for('index', categoryID = 3) }}" class="text-light" style="font-size: 12px; font-weight: bold;"> Snacks </a>
            </div>
        </div>
      </nav>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{ url_for('index') }}">Gökçwnify</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            </li>
          </ul>
          {% if session.loggedIn %}
            <a class="btn btn-outline-success my-2 my-sm-0" href="{{ url_for('profile') }}"> {{ session.username }} </a>
            <div class="horizontal-divider">  </div>
            <a class="btn btn-outline-success my-2 my-sm-0" href="{{ url_for('logout') }}"> Log Out </a>
          {% else %}
            <a class="btn btn-outline-success my-2 my-sm-0" href="{{ url_for('login') }}"> Log In </a>
          {% endif %}
        </div>
      </nav>
    
    </header>

    <main role="main">
      
      <div class="album py-5 bg-light" style="margin-top: 2%;">
        <div class="container">
          <div class="row">
            {% if categoryID == -1 %}
              {% for category in items.items() %}
                {% for item in category[1] %}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" alt="{{ item.itemName }}" src="{{ item.image }}" data-holder-rendered="true">
                            <div class="card-body">
                                <p class="card-text text-center" style="font-weight:bold;"> {{ item.itemName }} </p>
                                <p class="card-text" style="font-weight: bold; font-size: 13px;"> Seller: <span> {{ item.seller }} </span></p>
                                <p class="card-text" style="font-weight: bold; font-size: 13px;"> Price: <span> {{ item.price }} </span></p>
                                <p class="card-text" style="font-weight: bold; font-size: 13px;"> Rating: <span> {{ item.rating }} </span></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a  class="btn btn-sm btn-outline-secondary" href="{{ url_for('product', product = item.itemID, categoryID = category[0]) }}">View</a>
                                        {% if session.loggedIn%}
                                          {% if session.role == "Admin" %}
                                            <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('deleteProduct', product = item.itemID, categoryID = category[0]) }}" style="color: red;">Delete</a>
                                          {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
              {% endfor %}
            {% else %}
              {% for item in items[categoryID] %}
                  <div class="col-md-4">
                      <div class="card mb-4 box-shadow">
                          <img class="card-img-top" alt="{{ item.itemName }}" src="{{ item.image }}" data-holder-rendered="true">
                          <div class="card-body">
                              <p class="card-text text-center" style="font-weight:bold;"> {{ item.itemName }} </p>
                              <p class="card-text" style="font-weight: bold; font-size: 13px;"> Seller: <span> {{ item.seller }} </span></p>
                              <p class="card-text" style="font-weight: bold; font-size: 13px;"> Price: <span> {{ item.price }} </span></p>
                              <p class="card-text" style="font-weight: bold; font-size: 13px;"> Rating: <span> {{ item.rating }} </span></p>
                              <div class="d-flex justify-content-between align-items-center">
                                  <div class="btn-group">
                                      <a  class="btn btn-sm btn-outline-secondary" href="{{ url_for('product', product = item.itemID, categoryID = categoryID) }}">View</a>
                                      {% if session.loggedIn%}
                                        {% if session.role == "Admin" %}
                                          <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('deleteProduct', product = item.itemID, categoryID = categoryID) }}" style="color: red;">Delete</a>
                                        {% endif %}
                                      {% endif %}
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>

    </main>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
</body>
</html>