<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Gökçwnify</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <style>
        a {
            text-decoration: none !important;
        }
        .card-img-top{
            width: 225px;
            height: 225px;
            margin-left: 18%;
            margin-top: 2%;
        }
        .horizontal-divider{
            width: 1%;
        }
        .sidebar {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            padding: 58px 0 0; /* Height of navbar */
            box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
            width: 6%;
            z-index: 600;
        }
        .icon-hover:hover {
            border-color: #3b71ca !important;
            background-color: white !important;
            color: #3b71ca !important;
        }

        .icon-hover:hover i {
            color: #3b71ca !important;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>

  </head>

  <body>

    <header>
      <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-dark">
        <div class="position-sticky">
            <div class="mx-3 mt-4 bg-dark text-center">
                <span class="mt-1 mb-5 pb-1" style="color: red; border-bottom: 1px solid rgba(255, 255, 255, 1);"> Categories </span>
                <p></p>
                <a href="{{ url_for('index', categoryID = 0) }}" class="text-light" style="font-weight: lighter;"> Clothings </a>
                <a href="{{ url_for('index', categoryID = 1) }}" class="text-light" style="font-weight: lighter;"> Computer Components </a>
                <a href="{{ url_for('index', categoryID = 2) }}" class="text-light" style="font-weight: lighter;"> Monitors </a>
                <a href="{{ url_for('index', categoryID = 3) }}" class="text-light" style="font-weight: lighter;"> Snacks </a>
            </div>
        </div>
      </nav>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{ url_for('index') }}">Gökçwnify</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            </li>
          </ul>
          {% if session.loggedIn %}
            <a class="btn btn-outline-success my-2 my-sm-0" href="{{ url_for('profile') }}"> {{ session.username }} </a>
            <div class="horizontal-divider">  </div>
            <a class="btn btn-outline-success my-2 my-sm-0" href="{{ url_for('logout') }}"> Log Out </a>
          {% else %}
            <a class="btn btn-outline-success my-2 my-sm-0" href="{{ url_for('login') }}"> Log In </a>
          {% endif %}
        </div>
      </nav>
    
    </header>

    <hr>

    <section class="py-5">
      <div class="container">
        <div class="row gx-5">
          <aside class="col-lg-6">
            <div class="border rounded-4 mb-3 d-flex justify-content-center">
            <img style="max-width: 100%; max-height: 50vh; margin: auto;" class="rounded-4 fit" src="{{ item.image }}" />
            </div>
            <!-- thumbs-wrap.// -->
            <!-- gallery-wrap .end// -->
          </aside>
          <main class="col-lg-6">
            <div class="ps-lg-3">
              <h4 class="title text-dark">
                {{ item.itemName }}
              </h4>
              <div class="row">
                <dt class="col-3">Rating</dt>
                <dd class="col-9">{{ item.rating }}</dd>

                <dt class="col-3">Price</dt>
                <dd class="col-9">{{ item.price }}₺</dd>

                <dt class="col-3">Description</dt>
                <dd class="col-9">{{ item.description }}</dd>
              </div>
    
              {% if categoryID == 0 %}
              <div class="row">
                <dt class="col-3">Size</dt>
                <dd class="col-9">{{ item.size }}</dd>
    
                <dt class="col-3">Colour</dt>
                <dd class="col-9">{{ item.colour }}</dd>
    
                <dt class="col-3">Seller</dt>
                <dd class="col-9">{{ item.seller }}</dd>
              </div>
              {% elif categoryID == 1 %}
              <div class="row">
                <dt class="col-3">Spec</dt>
                <dd class="col-9">{{ item.spec }}</dd>
    
                <dt class="col-3">Seller</dt>
                <dd class="col-9">{{ item.seller }}</dd>
              </div>
              {% elif categoryID == 2 %}
              <div class="row">
                <dt class="col-3">Spec</dt>
                <dd class="col-9">{{ item.spec }}</dd>
    
                <dt class="col-3">Seller</dt>
                <dd class="col-9">{{ item.seller }}</dd>
              </div>
              {% else %}
              <div class="row">    
                <dt class="col-3">Seller</dt>
                <dd class="col-9">{{ item.seller }}</dd>
              </div>
              {% endif %}
            </div>
          </main>
        </div>
      </div>
    </section>
    <!-- content -->
    
    <section class="bg-light border-top py-4">
      <div class="container">
        <div class="row gx-4">
          <div class="col-lg-6 mb-2">
            <div class="border rounded-2 px-3 py-2 bg-white">
              <div class="tab-content" id="ex1-content">
                <div class="tab-pane fade show active" id="ex1-pills-1" role="tabpanel" aria-labelledby="ex1-tab-1">
                  <h5 class="card-title"> Reviews </h5>
                  <table class="table border mt-3 mb-2">
                    {% for review in item.reviews %}
                    <tr>
                      <th class="py-2">{{ review.author }}</th>
                      <td class="py-2">{{ review.reviewText }}</td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>
          </div>
          {% if session.loggedIn %}
          <div class="col-lg-3">
            <div class="px-0 border rounded-2 shadow-0">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Write Review</h5>
                  <div class="d-flex mb-3">                    
                    <div class="comment-form">
                        <form action = "#" class="row clearfix" method = "post">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="text" name="username" style="display: none;" value="{{ session.username }}"/>
                                    <input type="text" name="itemID" style="display: none;" value="{{ item.itemID }}"/>
                                    <input type="text" name="categoryID" style="display: none;" value="{{ categoryID }}"/>
                                    <input type="text" class="form-control no-resize" name="review" placeholder="Please write your review"/> 
                                </div>
                                <button type="submit" name="submit_btn" class="btn btn-block btn-primary" value="rev">Submit Review</button>
                            </div>                                
                        </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="px-0 border rounded-2 shadow-0">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Rate Product</h5>
                  <div class="d-flex mb-3">
                    <form action = "#" class="row clearfix" method = "post">
                        <div class="col-sm-12 col-md-12 right-box">
                            <div class="form-group">
                                <input type="text" name="username" style="display: none;" value="{{ session.username }}"/>
                                <input type="text" name="itemID" style="display: none;" value="{{ item.itemID }}"/>
                                <input type="text" name="categoryID" style="display: none;" value="{{ categoryID }}"/>
                                <input type="number" name="rating" class="form-control no-resize noscroll" placeholder="Rating between 1 and 5" min="1" max="5"></input>
                            </div>
                            <button type="submit" name="submit_btn" class="btn btn-block btn-primary" value="rate">Submit Rating</button>
                        </div>                                
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </section>
  </body>
</html>